.ax_default {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:center;
  line-height:normal;
  text-transform:none;
}
.shape {
}
.box_1 {
}
.box_2 {
}
.ellipse {
}
.image {
}
.button {
}
.primary_button {
  font-family:'Roboto-Regular', 'Roboto', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.3px;
  color:#FFFFFF;
  line-height:20px;
}
.heading_1 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.heading_2 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.heading_3 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
.heading_4 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
.heading_5 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
.heading_6 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
.paragraph {
  text-align:left;
}
.line {
}
.text_field {
  font-family:'Roboto-Regular', 'Roboto', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  letter-spacing:0.2px;
  color:#333333;
  text-align:left;
}
.droplist {
  font-family:'Roboto-Light', 'Roboto Light', 'Roboto', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.2px;
  color:#8C8C8C;
  text-align:left;
}
.checkbox {
  font-family:'Roboto-Bold', 'Roboto Bold', 'Roboto', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  letter-spacing:0.2px;
  color:#113180;
  text-align:left;
}
.radio_button {
  text-align:left;
}
.flow_shape {
}
.form_hint {
  color:#999999;
}
.form_disabled {
}
.checkbox-big-blue {
  font-family:'Roboto-Bold', 'Roboto Bold', 'Roboto', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  letter-spacing:0.2px;
  color:#113180;
  text-align:left;
}
.select-button {
  font-family:'Roboto-Bold', 'Roboto Bold', 'Roboto', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#113180;
}
.icon {
}
textarea, select, input, button { outline: none; }
