body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1680px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u980_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1680px;
  height:5849px;
}
#u980 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:1680px;
  height:5849px;
  display:flex;
}
#u980 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u980_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u981 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u982_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:70px;
  background:-webkit-linear-gradient(346.400869571893deg, rgba(216, 17, 48, 1) 17%, rgba(216, 17, 48, 1) 34%, rgba(151, 0, 0, 1) 132%);
  background:-moz-linear-gradient(103.599130428107deg, rgba(216, 17, 48, 1) 17%, rgba(216, 17, 48, 1) 34%, rgba(151, 0, 0, 1) 132%);
  background:linear-gradient(103.599130428107deg, rgba(216, 17, 48, 1) 17%, rgba(216, 17, 48, 1) 34%, rgba(151, 0, 0, 1) 132%);
  border:none;
  border-radius:150px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:22px;
}
#u982 {
  border-width:0px;
  position:absolute;
  left:1122px;
  top:640px;
  width:288px;
  height:70px;
  display:flex;
  font-size:22px;
}
#u982 .text {
  position:absolute;
  align-self:center;
  padding:2px 15px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u982_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:70px;
  background:inherit;
  background-color:rgba(158, 2, 6, 1);
  border:none;
  border-radius:150px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:22px;
}
#u982.mouseOver {
}
#u982_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:70px;
  background:-webkit-linear-gradient(346.400869571893deg, rgba(216, 17, 48, 1) 17%, rgba(216, 17, 48, 1) 34%, rgba(151, 0, 0, 1) 132%);
  background:-moz-linear-gradient(103.599130428107deg, rgba(216, 17, 48, 1) 17%, rgba(216, 17, 48, 1) 34%, rgba(151, 0, 0, 1) 132%);
  background:linear-gradient(103.599130428107deg, rgba(216, 17, 48, 1) 17%, rgba(216, 17, 48, 1) 34%, rgba(151, 0, 0, 1) 132%);
  border:none;
  border-radius:150px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:22px;
}
#u982.disabled {
  opacity:0.3;
}
#u982_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u983_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:28px;
}
#u983 {
  border-width:0px;
  position:absolute;
  left:1370px;
  top:661px;
  width:15px;
  height:28px;
  display:flex;
  letter-spacing:0.2px;
}
#u983 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u983_img.mouseOver {
}
#u983.mouseOver {
}
#u983_img.disabled {
}
#u983.disabled {
  opacity:0.3;
}
#u983_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u985 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u986 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u987_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1680px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 10px 20px rgba(0, 0, 0, 0.101960784313725);
  -webkit-box-shadow:0px 10px 20px rgba(0, 0, 0, 0.101960784313725);
  box-shadow:0px 10px 20px rgba(0, 0, 0, 0.101960784313725);
}
#u987 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:1680px;
  height:80px;
  display:flex;
}
#u987 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u987_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u988 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u989 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u990 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u991 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u992_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u992 {
  border-width:0px;
  position:absolute;
  left:1306px;
  top:70px;
  width:14px;
  height:14px;
  display:flex;
}
#u992 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u992_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u993_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:11px;
  height:11px;
}
#u993 {
  border-width:0px;
  position:absolute;
  left:1318px;
  top:82px;
  width:8px;
  height:8px;
  display:flex;
}
#u993 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u993_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u994_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Medium', 'Roboto Medium', 'Roboto', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:18px;
  letter-spacing:1.65px;
  color:#113180;
  text-align:right;
  line-height:22px;
}
#u994 {
  border-width:0px;
  position:absolute;
  left:1237px;
  top:69px;
  width:59px;
  height:22px;
  display:flex;
  font-family:'Roboto-Medium', 'Roboto Medium', 'Roboto', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:18px;
  letter-spacing:1.65px;
  color:#113180;
  text-align:right;
  line-height:22px;
}
#u994 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u994_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u995 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u996 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u997 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u998_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u998 {
  border-width:0px;
  position:absolute;
  left:1178px;
  top:71px;
  width:19px;
  height:19px;
  display:flex;
}
#u998 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u998_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u999 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:7px;
}
#u1000 {
  border-width:0px;
  position:absolute;
  left:1185px;
  top:74px;
  width:5px;
  height:7px;
  display:flex;
}
#u1000 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1000_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:2px;
}
#u1001 {
  border-width:0px;
  position:absolute;
  left:1187px;
  top:81px;
  width:1px;
  height:2px;
  display:flex;
}
#u1001 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1001_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1002_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Medium', 'Roboto Medium', 'Roboto', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:18px;
  letter-spacing:1.65px;
  color:#113180;
  text-align:right;
  line-height:22px;
}
#u1002 {
  border-width:0px;
  position:absolute;
  left:1054px;
  top:69px;
  width:114px;
  height:22px;
  display:flex;
  font-family:'Roboto-Medium', 'Roboto Medium', 'Roboto', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:18px;
  letter-spacing:1.65px;
  color:#113180;
  text-align:right;
  line-height:22px;
}
#u1002 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1002_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1003 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1004 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1005 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1006_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:14px;
}
#u1006 {
  border-width:0px;
  position:absolute;
  left:1430px;
  top:77px;
  width:16px;
  height:14px;
  display:flex;
}
#u1006 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1006_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1007_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:12px;
  height:12px;
}
#u1007 {
  border-width:0px;
  position:absolute;
  left:1433px;
  top:68px;
  width:9px;
  height:9px;
  display:flex;
}
#u1007 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1007_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1008_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:5px;
}
#u1008 {
  border-width:0px;
  position:absolute;
  left:1437px;
  top:82px;
  width:3px;
  height:5px;
  display:flex;
}
#u1008 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1008_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1009_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Medium', 'Roboto Medium', 'Roboto', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:18px;
  letter-spacing:1.65px;
  color:#113180;
  text-align:right;
  line-height:22px;
}
#u1009 {
  border-width:0px;
  position:absolute;
  left:1366px;
  top:69px;
  width:54px;
  height:22px;
  display:flex;
  font-family:'Roboto-Medium', 'Roboto Medium', 'Roboto', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:18px;
  letter-spacing:1.65px;
  color:#113180;
  text-align:right;
  line-height:22px;
}
#u1009 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1009_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1010 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1011 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1012_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(17, 49, 128, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1012 {
  border-width:0px;
  position:absolute;
  left:1499px;
  top:57px;
  width:141px;
  height:45px;
  display:flex;
}
#u1012 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1012_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1013_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:12px;
}
#u1013 {
  border-width:0px;
  position:absolute;
  left:1594px;
  top:74px;
  width:20px;
  height:12px;
  display:flex;
}
#u1013 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1013_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1014_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Medium', 'Roboto Medium', 'Roboto', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:18px;
  letter-spacing:1.65px;
  color:#113180;
  text-align:right;
  line-height:22px;
}
#u1014 {
  border-width:0px;
  position:absolute;
  left:1526px;
  top:69px;
  width:53px;
  height:22px;
  display:flex;
  font-family:'Roboto-Medium', 'Roboto Medium', 'Roboto', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:18px;
  letter-spacing:1.65px;
  color:#113180;
  text-align:right;
  line-height:22px;
}
#u1014 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1014_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1015 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1016 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1017_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:28px;
}
#u1017 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:72px;
  width:24px;
  height:27px;
  display:flex;
}
#u1017 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1017_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1018_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:40px;
}
#u1018 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:60px;
  width:32px;
  height:39px;
  display:flex;
}
#u1018 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1018_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1019_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u1019 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:71px;
  width:29px;
  height:29px;
  display:flex;
}
#u1019 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1019_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1020_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u1020 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:71px;
  width:29px;
  height:29px;
  display:flex;
}
#u1020 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1020_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1021_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1680px;
  height:40px;
  background:inherit;
  background-color:rgba(17, 49, 128, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1021 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1680px;
  height:40px;
  display:flex;
}
#u1021 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1021_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1022_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1022 {
  border-width:0px;
  position:absolute;
  left:1219px;
  top:0px;
  width:149px;
  height:40px;
  display:flex;
}
#u1022 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1022_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1023 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1024_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Regular', 'Roboto', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:1.2px;
  color:#FFFFFF;
  text-align:left;
  line-height:26px;
}
#u1024 {
  border-width:0px;
  position:absolute;
  left:1059px;
  top:7px;
  width:140px;
  height:26px;
  display:flex;
  font-family:'Roboto-Regular', 'Roboto', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:1.2px;
  color:#FFFFFF;
  text-align:left;
  line-height:26px;
}
#u1024 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1024_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1025_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Bold', 'Roboto Bold', 'Roboto', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  letter-spacing:0.8px;
  color:#113180;
  text-align:left;
  line-height:26px;
}
#u1025 {
  border-width:0px;
  position:absolute;
  left:1238px;
  top:7px;
  width:111px;
  height:26px;
  display:flex;
  font-family:'Roboto-Bold', 'Roboto Bold', 'Roboto', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  letter-spacing:0.8px;
  color:#113180;
  text-align:left;
  line-height:26px;
}
#u1025 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1025_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1026_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Regular', 'Roboto', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:0.8px;
  color:#FFFFFF;
  text-align:left;
  line-height:26px;
}
#u1026 {
  border-width:0px;
  position:absolute;
  left:1386px;
  top:7px;
  width:146px;
  height:26px;
  display:flex;
  font-family:'Roboto-Regular', 'Roboto', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:0.8px;
  color:#FFFFFF;
  text-align:left;
  line-height:26px;
}
#u1026 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1026_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1027_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Regular', 'Roboto', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:0.8px;
  color:#FFFFFF;
  text-align:left;
  line-height:26px;
}
#u1027 {
  border-width:0px;
  position:absolute;
  left:1573px;
  top:7px;
  width:62px;
  height:26px;
  display:flex;
  font-family:'Roboto-Regular', 'Roboto', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:0.8px;
  color:#FFFFFF;
  text-align:left;
  line-height:26px;
}
#u1027 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1027_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1029 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1030_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1680px;
  height:207px;
  background:inherit;
  background-color:rgba(17, 49, 128, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1030 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5969px;
  width:1680px;
  height:207px;
  display:flex;
}
#u1030 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1030_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1031 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1032 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1033 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1034 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1035 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1036_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Bold', 'Roboto Bold', 'Roboto', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  letter-spacing:1.05px;
  color:#778087;
  text-align:left;
  line-height:12px;
}
#u1036 {
  border-width:0px;
  position:absolute;
  left:1313px;
  top:6003px;
  width:20px;
  height:24px;
  display:flex;
  font-family:'Roboto-Bold', 'Roboto Bold', 'Roboto', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  letter-spacing:1.05px;
  color:#778087;
  text-align:left;
  line-height:12px;
}
#u1036 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1036_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1037_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:1px;
}
#u1037 {
  border-width:0px;
  position:absolute;
  left:1313px;
  top:6018px;
  width:18px;
  height:1px;
  display:flex;
}
#u1037 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1037_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1038_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Regular', 'Roboto', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:0.9px;
  color:#778087;
  text-align:left;
  line-height:12px;
}
#u1038 {
  border-width:0px;
  position:absolute;
  left:1390px;
  top:6003px;
  width:15px;
  height:24px;
  display:flex;
  font-family:'Roboto-Regular', 'Roboto', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:0.9px;
  color:#778087;
  text-align:left;
  line-height:12px;
}
#u1038 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1038_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1039_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Regular', 'Roboto', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:0.9px;
  color:#778087;
  text-align:left;
  line-height:12px;
}
#u1039 {
  border-width:0px;
  position:absolute;
  left:1351px;
  top:6003px;
  width:20px;
  height:24px;
  display:flex;
  font-family:'Roboto-Regular', 'Roboto', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:0.9px;
  color:#778087;
  text-align:left;
  line-height:12px;
}
#u1039 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1039_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1040_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Regular', 'Roboto', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:0.9px;
  color:#778087;
  text-align:left;
  line-height:12px;
}
#u1040 {
  border-width:0px;
  position:absolute;
  left:1422px;
  top:6003px;
  width:21px;
  height:24px;
  display:flex;
  font-family:'Roboto-Regular', 'Roboto', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:0.9px;
  color:#778087;
  text-align:left;
  line-height:12px;
}
#u1040 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1040_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1041 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1042_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Bold', 'Roboto Bold', 'Roboto', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  letter-spacing:1.5px;
  color:#FFFFFF;
  text-align:left;
}
#u1042 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:6003px;
  width:60px;
  height:16px;
  display:flex;
  font-family:'Roboto-Bold', 'Roboto Bold', 'Roboto', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  letter-spacing:1.5px;
  color:#FFFFFF;
  text-align:left;
}
#u1042 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1042_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1043_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Bold', 'Roboto Bold', 'Roboto', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u1043 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:6003px;
  width:82px;
  height:16px;
  display:flex;
  font-family:'Roboto-Bold', 'Roboto Bold', 'Roboto', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u1043 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1043_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1044_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Bold', 'Roboto Bold', 'Roboto', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  letter-spacing:1.5px;
  color:#FFFFFF;
  text-align:left;
}
#u1044 {
  border-width:0px;
  position:absolute;
  left:453px;
  top:6003px;
  width:143px;
  height:16px;
  display:flex;
  font-family:'Roboto-Bold', 'Roboto Bold', 'Roboto', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  letter-spacing:1.5px;
  color:#FFFFFF;
  text-align:left;
}
#u1044 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1044_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1045 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1046 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1047_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Medium', 'Roboto Medium', 'Roboto', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:11px;
  letter-spacing:1.21px;
  color:#FFFFFF;
  text-align:left;
}
#u1047 {
  border-width:0px;
  position:absolute;
  left:1364px;
  top:6120px;
  width:76px;
  height:15px;
  display:flex;
  font-family:'Roboto-Medium', 'Roboto Medium', 'Roboto', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:11px;
  letter-spacing:1.21px;
  color:#FFFFFF;
  text-align:left;
}
#u1047 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1047_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1048_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Medium', 'Roboto Medium', 'Roboto', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:11px;
  letter-spacing:1.21px;
  color:#FFFFFF;
  text-align:left;
}
#u1048 {
  border-width:0px;
  position:absolute;
  left:1197px;
  top:6120px;
  width:65px;
  height:15px;
  display:flex;
  font-family:'Roboto-Medium', 'Roboto Medium', 'Roboto', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:11px;
  letter-spacing:1.21px;
  color:#FFFFFF;
  text-align:left;
}
#u1048 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1048_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1049_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Medium', 'Roboto Medium', 'Roboto', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:11px;
  letter-spacing:1.21px;
  color:#FFFFFF;
  text-align:left;
}
#u1049 {
  border-width:0px;
  position:absolute;
  left:1153px;
  top:6120px;
  width:26px;
  height:15px;
  display:flex;
  font-family:'Roboto-Medium', 'Roboto Medium', 'Roboto', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:11px;
  letter-spacing:1.21px;
  color:#FFFFFF;
  text-align:left;
}
#u1049 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1049_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1050_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Medium', 'Roboto Medium', 'Roboto', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:11px;
  letter-spacing:1.21px;
  color:#FFFFFF;
  text-align:left;
}
#u1050 {
  border-width:0px;
  position:absolute;
  left:1280px;
  top:6120px;
  width:67px;
  height:15px;
  display:flex;
  font-family:'Roboto-Medium', 'Roboto Medium', 'Roboto', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:11px;
  letter-spacing:1.21px;
  color:#FFFFFF;
  text-align:left;
}
#u1050 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1050_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1051_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Regular', 'Roboto', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:1.05px;
  color:#FFFFFF;
  text-align:left;
  line-height:20px;
}
#u1051 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:6052px;
  width:233px;
  height:80px;
  display:flex;
  font-family:'Roboto-Regular', 'Roboto', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:1.05px;
  color:#FFFFFF;
  text-align:left;
  line-height:20px;
}
#u1051 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1051_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1052 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1053 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1054_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:25px;
}
#u1054 {
  border-width:0px;
  position:absolute;
  left:1413px;
  top:6054px;
  width:23px;
  height:25px;
  display:flex;
}
#u1054 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1054_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1055 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1056 {
  border-width:0px;
  position:absolute;
  left:1333px;
  top:6058px;
  width:25px;
  height:17px;
}
#u1056_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1056_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1057_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:18px;
}
#u1057 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:18px;
  display:flex;
}
#u1057 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1057_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1058 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1059_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1059 {
  border-width:0px;
  position:absolute;
  left:1251px;
  top:6054px;
  width:25px;
  height:25px;
  display:flex;
}
#u1059 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1059_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1060 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1061 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1062 {
  border-width:0px;
  position:absolute;
  left:1293px;
  top:6054px;
  width:25px;
  height:25px;
}
#u1062_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1062_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1063_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1063 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
  display:flex;
}
#u1063 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1063_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1064_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u1064 {
  border-width:0px;
  position:absolute;
  left:1299px;
  top:6060px;
  width:13px;
  height:13px;
  display:flex;
}
#u1064 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1064_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1065_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u1065 {
  border-width:0px;
  position:absolute;
  left:1311px;
  top:6058px;
  width:3px;
  height:3px;
  display:flex;
}
#u1065 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1065_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1066_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1066 {
  border-width:0px;
  position:absolute;
  left:1373px;
  top:6054px;
  width:25px;
  height:25px;
  display:flex;
}
#u1066 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1066_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1067 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1068_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:50px;
  background:-webkit-linear-gradient(349.118351913701deg, rgba(0, 81, 135, 1) 17%, rgba(0, 81, 135, 1) 30%, rgba(17, 49, 128, 1) 100%);
  background:-moz-linear-gradient(100.881648086299deg, rgba(0, 81, 135, 1) 17%, rgba(0, 81, 135, 1) 30%, rgba(17, 49, 128, 1) 100%);
  background:linear-gradient(100.881648086299deg, rgba(0, 81, 135, 1) 17%, rgba(0, 81, 135, 1) 30%, rgba(17, 49, 128, 1) 100%);
  border:none;
  border-radius:150px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1068 {
  border-width:0px;
  position:absolute;
  left:710px;
  top:3185px;
  width:260px;
  height:50px;
  display:flex;
}
#u1068 .text {
  position:absolute;
  align-self:center;
  padding:2px 15px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1068_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:50px;
  background:inherit;
  background-color:rgba(216, 17, 48, 1);
  border:none;
  border-radius:150px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1068.mouseOver {
}
#u1068_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:50px;
  background:-webkit-linear-gradient(349.118351913701deg, rgba(0, 81, 135, 1) 17%, rgba(0, 81, 135, 1) 30%, rgba(17, 49, 128, 1) 100%);
  background:-moz-linear-gradient(100.881648086299deg, rgba(0, 81, 135, 1) 17%, rgba(0, 81, 135, 1) 30%, rgba(17, 49, 128, 1) 100%);
  background:linear-gradient(100.881648086299deg, rgba(0, 81, 135, 1) 17%, rgba(0, 81, 135, 1) 30%, rgba(17, 49, 128, 1) 100%);
  border:none;
  border-radius:150px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1068.disabled {
  opacity:0.3;
}
#u1068_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1069_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:20px;
}
#u1069 {
  border-width:0px;
  position:absolute;
  left:939px;
  top:3200px;
  width:11px;
  height:20px;
  display:flex;
  letter-spacing:0.2px;
}
#u1069 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1069_img.mouseOver {
}
#u1069.mouseOver {
}
#u1069_img.disabled {
}
#u1069.disabled {
  opacity:0.3;
}
#u1069_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1070 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1071_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:150px;
  -moz-box-shadow:0px 5px 20px rgba(0, 0, 0, 0.145098039215686);
  -webkit-box-shadow:0px 5px 20px rgba(0, 0, 0, 0.145098039215686);
  box-shadow:0px 5px 20px rgba(0, 0, 0, 0.145098039215686);
  color:#D81130;
}
#u1071 {
  border-width:0px;
  position:absolute;
  left:323px;
  top:5825px;
  width:180px;
  height:50px;
  display:flex;
  color:#D81130;
}
#u1071 .text {
  position:absolute;
  align-self:center;
  padding:2px 15px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1071_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:50px;
  background:-webkit-linear-gradient(344.481283037345deg, rgba(0, 81, 135, 1) 17%, rgba(0, 81, 135, 1) 30%, rgba(17, 49, 128, 1) 100%);
  background:-moz-linear-gradient(105.518716962655deg, rgba(0, 81, 135, 1) 17%, rgba(0, 81, 135, 1) 30%, rgba(17, 49, 128, 1) 100%);
  background:linear-gradient(105.518716962655deg, rgba(0, 81, 135, 1) 17%, rgba(0, 81, 135, 1) 30%, rgba(17, 49, 128, 1) 100%);
  border:none;
  border-radius:150px;
  -moz-box-shadow:0px 5px 20px rgba(0, 0, 0, 0.145098039215686);
  -webkit-box-shadow:0px 5px 20px rgba(0, 0, 0, 0.145098039215686);
  box-shadow:0px 5px 20px rgba(0, 0, 0, 0.145098039215686);
  color:#D81130;
}
#u1071.mouseOver {
}
#u1071_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:150px;
  -moz-box-shadow:0px 5px 20px rgba(0, 0, 0, 0.145098039215686);
  -webkit-box-shadow:0px 5px 20px rgba(0, 0, 0, 0.145098039215686);
  box-shadow:0px 5px 20px rgba(0, 0, 0, 0.145098039215686);
  color:#D81130;
}
#u1071.disabled {
  opacity:0.3;
}
#u1071_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1072_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:20px;
}
#u1072 {
  border-width:0px;
  position:absolute;
  left:472px;
  top:5840px;
  width:11px;
  height:20px;
  display:flex;
  letter-spacing:0.2px;
}
#u1072 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1072_img.mouseOver {
}
#u1072.mouseOver {
}
#u1072_img.disabled {
}
#u1072.disabled {
  opacity:0.3;
}
#u1072_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
